
body {
    background: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.title {
    font-size: 4vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#gameCanvas {
    max-width: 90vw;
    min-width: 45vw;
    border: 2.5px solid white;
}
